<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
	<!-- milligram.css -->
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<!-- 进度条 -->
	<script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
	<!-- socket -->
	<script src='http://cdn-hangzhou.goeasy.io/goeasy.js'></script>
	<title>Free novel website</title>
</head>
<body>
	<main class="wrapper">
		{{> navbar}}
		<div class="container">
			{{{content}}}
		</div>
		<footer class="footer container">
			© 2012－2019  all rights reserved
		</footer>
	</main>
</body>
<script>
	//web notification
	function showNotification(title,options) {
	  // 先检查浏览器是否支持
	  let notification;
	  if (!("Notification" in window)) {
	    alert("This browser does not support desktop notification");
	  }
	  // 检查用户是否同意接受通知
	  else if (Notification.permission === "granted") {
	    // If it's okay let's create a notification
	    notification = new Notification(title,options);
	    notification.onclick = function(){
	  		window.open("http://localhost:4000/register","_blank");
	  	}
	  }

	  // 否则我们需要向用户获取权限
	  else if (Notification.permission !== 'denied') {
	    Notification.requestPermission(function (permission) {
	      // 如果用户同意，就可以向他们发送通知
	      if (permission === "granted") {
	        notification = new Notification(title,options);
	        notification.onclick = function(){
	        	let url = encodeURL("/register");
	        	window.open(url);
	        }
	      }
	    });
	  }
	  // 最后，如果执行到这里，说明用户已经拒绝对相关通知进行授权
	  // 出于尊重，我们不应该再打扰他们了
	}
	
	var goEasy = new GoEasy({
        appkey: "BS-2be3e03d374340849a09e6b44308a503"
    });
    goEasy.subscribe({
    	channel: "test",
    	onMessage: function(message){
    		const content = `Channel: ${message.channel} content: ${message.content}`
    		showNotification("novel updated",{body:content,icon:"/public/images/logo.jpg"});
    	}
    })

    let preScrollTop = window.pageYOffset || document.documentElement.scrollTop;
   	let curScrollTop;
    let navbar = document.querySelector(".navigation");
    window.onscroll = function(){
    	curScrollTop = window.pageYOffset || document.documentElement.scrollTop;
    	if(curScrollTop < preScrollTop){
    		navbar.style.top = "0";
    	}else{
    		navbar.style.top = "-5.2rem";
    	}
    	preScrollTop = curScrollTop;
    }
</script>
</html>