<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<script src='http://cdn-hangzhou.goeasy.io/goeasy.js'></script>
	<title>Free novel website</title>
</head>
<body>
	<main class="wrapper">
		{{> navbar}}
		<div class="container">
			{{{content}}}
		</div>
	</main>
</body>
<script>
	var goEasy = new GoEasy({
        appkey: "BS-2be3e03d374340849a09e6b44308a503"
    });
    goEasy.subscribe({
    	channel: "test",
    	onMessage: function(message){
    		alert(`Channel: ${message.channel} content: ${message.content}`)
    	}
    })
</script>
</html>